.carousel {
  position: absolute;
  width: 300px;
  top: 80%; /* Position it 80% from the top of the parent element */
  transform: translateY(50%);
  overflow: hidden;
}

.multiple-carousel {
  z-index: 1;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-slide img {
  width: 100%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-10%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  /* padding: 10px; */
  cursor: pointer;
  /* z-index: 2; */
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}
